@charset "UTF-8";

// 1. Vendors
@use 'vendors/normalize';

// 2. Base stuff
@use 'base/base';
@use 'base/fonts';
@use 'base/helpers';
@use 'base/typography';

// 3. Layout-related sections
@use 'layout/footer';
@use 'layout/header';

// 4. Components
@use 'components/button';

// 5. Pages
@use 'pages/home';

// 6. Themes
@use 'themes/default';
@use 'abstracts/index';
@use 'abstracts/mixins' as mix;
@use 'abstracts/variables' as v;

main{
    background-color: #151515;
    text-align: center;
    background-image: url(./../img/muelles_2.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 16.7%;
    @include mix.breakpoint(tablet){
        padding-top: 80px;
        background-position-y: 19%;
    }
    @include mix.breakpoint(tablethorizontal){
        background-image: url(./../img/muelle_drech_desktop.png);
    }

    & section.experience{
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        @include mix.breakpoint(tablet){
            text-align: start;
            padding-top: 52px;
            display: grid;
            gap: 40px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            border-bottom: none;
            margin-bottom: 100px;
            @include mix.breakpoint(desktop){
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

            }
            & article *{
                margin: 0;
            }
        }
        & h1{
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        & p{
            margin-top: 0;
            font-size: 16px;
        }
        & :first-child{
            & h1{
                margin-top: 40px;
                @include mix.breakpoint(tablet){
                    margin-top: 0;
                }
            }
        }
        & article:last-of-type{
            & p{
                margin-bottom: 40px;
                @include mix.breakpoint(tablet){
                    margin-bottom: 0;
                }
            }
            
        }
        & div.muelle{
            transform: translate(115%, -46%);
            position: absolute;
            max-width: 100%;
        }
    }
    & section.proyects{
        & div.hero_proyect{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & div.proyect{
            @include mix.breakpoint(tablet){
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
        }
        & div.proyect article{
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 40px;
            flex: 1;
            @include mix.breakpoint(tablet){
                min-width: 50%;
            }
            @include mix.breakpoint(desktop){
                min-width: 50%;
            }
            & div.enlaces{
                display: flex;
                gap: 30px;
                & a{
                    letter-spacing: 2.26px;
                }
            }
            & img{
                object-fit: cover;
                width: 100%;
                height: 253px;
            }
        }
        & h2{
            margin-bottom: 0;
            font-size: 24px;
        }

    }
}

